.cell_white {
  width: 20px;
  height: 15px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;
  float: left;
}
.row {
  width: 576px;
  height: 15px;
  border: 2px solid white;
}
.rightbox {
  float: left;
  position: absolute;
  box-shadow: 3px 4px 4px #F5F5F5;
  left: 700px;
}
#form {
  top: 50px;
}
#svg {
  width: 400 px;
  height: 260px;
  top: 200px;
}
#chart_container {
  box-shadow: 0px 4px 40px #F5F5F3;
  width: 576px;
}
